@model List<Tw.Bus.EntityDTO.MenuDto>


@if (Model != null && Model.Count != 0)
{
    var stack = new Stack<int>();
    <ul id="sysmenulist" class="sidebar-menu" data-widget="tree" >
        <li class="header">导航菜单</li>

        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            if (i == Model.Count - 1)//最后一个菜单节结点
            {


                <li>
                    <a href="@Url.Action(item.ActionName,item.ControllerName)@item.LinkPara" menuid="@item.id">
                        <i class="@item.IconCss"></i>
                        <span>@item.Name</span>
                    </a>
                </li>

                while (stack.Count > 0)
                {
                    stack.Pop();
                    @Html.Raw(" </ul>")
                }
            }
            else
            {
                var nextitem = Model[i + 1];
                if (item.id == nextitem.ParentId)//该结点有子结点
                {
                    stack.Push(item.id);//将父ID保存
                    @*<li>
                        <a href="javascript:void(0)" class="menu-dropdown" menuid="@item.id">
                            <i class="menu-icon @item.IconCss"></i>
                            <span class="menu-text"> @item.Name </span>
                            <i class="menu-expand"></i>
                        </a>
                        @Html.Raw("<ul class='submenu'>")
                    </li>*@


                    <li class="treeview">
                        <a href="javascript:void(0)"  menuid="@item.id">
                            <i class="@item.IconCss"></i>
                            <span>@item.Name</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        @Html.Raw("<ul class='treeview-menu'>")
                       
                    </li>

                }
                else
                {

                    <li>
                      <a  href="@Url.Action(item.ActionName,item.ControllerName)@item.LinkPara" menuid="@item.id">
                         <i class="@item.IconCss"></i> 
                          <span>@item.Name</span>
                          </a>
                    </li>

                    @*<li>
                        <a href="@Url.Action(item.ActionName,item.ControllerName)@item.LinkPara" menuid="@item.Id">
                            <i class="menu-icon @item.IconCss"></i>
                            <span class="menu-text"> @item.Name </span>
                        </a>
                    </li>*@

                    while (stack.Count > 0 && stack.Peek() != nextitem.ParentId)//下一个节点不是当前父结点的子结点
                    {
                        stack.Pop();
                        @Html.Raw("</ul>")
                    }
                }
            }

        }
    </ul>
}





